@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Playfair+Display:ital@1&display=swap');

/* small screen */
/* .header {
    background-color: #4682b4;
    box-shadow: #000 2px 2px 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
img {
    width: 150px;
}
body {
    font-family: sans-serif;
}
.mainContainer {
    margin-left: 500px;
    margin-right: 500px;
}
h1 {
    text-shadow: #fff 2px 2px 10px;
    text-align: center;
}
.title {
    border-bottom: 1px solid #000;
    margin-left: 20px;
    text-shadow: #000 2px 2px 10px;
}
ul {
    line-height: 28px;
}
.note {
    border-top: 1px solid #000;
    margin-left: 20px;
}
footer {
    background-color: #4682b4;
    box-shadow: #000 2px 2px 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
span {
    color: greenyellow;
} */

/* large screen */

.mainContainer {
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-rows: 10% 5% 1fr;
    grid-row-gap: 10px;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    margin: auto auto;
    margin-top: 100px;
    font-family: Oswald;
}
h1 {
    grid-row: 1/2;
}
.desgnlink {
    margin-bottom: 35px;
}
.boxContainer {
    grid-row: 3/4;
    /* width: 60%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-betweeen; */
    margin: auto auto;
    grid-gap: 30px;
    /* margin: 50px; */
}
/*.box{
    height: autopx;
    width: 280px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
}

@media only screen and (max-width: 1000px){





}
/*gggggg*/

body {
    margin-bottom: 100px;
}

.box{
    height: auto;
    width: 280px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto ;
}
.repImg {
    width: 100%;
    margin-bottom: 20px;
}
.heading {
    background-color: dimgrey;
    padding: 5px;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}

.mainContainer {
    /* margin-bottom: 100px; */
}
footer {
    margin-top: 100px;
}

@media only screen and (max-width: 1000px){


}

